Repository heggar/adyela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adyela/core-team, @adyela/backend-team, @adyela/architects, @adyela/frontend-team, @adyela/devops-team

fix: update all domain references from adyela.com to adyela.care
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
  apps/api/.env.example
  apps/api/pyproject.toml
Owners: @adyela/core-team, @adyela/backend-team

fix: update all domain references from adyela.com to adyela.care
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
  apps/api/.env.example
  apps/api/pyproject.toml
Owners: @adyela/core-team, @adyela/backend-team

fix: simplify nginx config for Cloud Run template compatibility
  apps/web/Dockerfile
  apps/web/nginx.conf
Owners: @adyela/frontend-team

fix: simplify nginx config for Cloud Run template compatibility
  apps/web/Dockerfile
  apps/web/nginx.conf
Owners: @adyela/frontend-team

fix: use root user for nginx in Cloud Run
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix: use root user for nginx in Cloud Run
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix: use custom entrypoint script for nginx template processing
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix: use custom entrypoint script for nginx template processing
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix(web): corrige la verificación de salud en el despliegue
  .github/docker/web-entrypoint.sh
  .github/workflows/cd-staging.yml
  apps/web/Dockerfile
Owners: @adyela/core-team, @adyela/frontend-team

fix(web): corrige la verificación de salud en el despliegue
  .github/docker/web-entrypoint.sh
  .github/workflows/cd-staging.yml
  apps/web/Dockerfile
Owners: @adyela/core-team, @adyela/frontend-team

ci(ops): repara el paso de checkout en el workflow de despliegue
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

ci(ops): repara el paso de checkout en el workflow de despliegue
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(web): externaliza y corrige permisos del script de inicio de Docker
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio de Docker
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio de Docker
  .github/docker/web-entrypoint.sh
Owners: @adyela/core-team

fix(web): externaliza y corrige permisos del script de inicio de Docker
  .github/docker/web-entrypoint.sh
Owners: @adyela/core-team

fix(web): externaliza y corrige permisos del script de inicio de Docker
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio de Docker
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio de Docker
  apps/web/nginx.conf
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio de Docker
  apps/web/nginx.conf
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio de Docker
  .github/workflows/cd-staging.yml
  apps/web/Dockerfile
  apps/web/nginx.conf
Owners: @adyela/core-team, @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio de Docker
  .github/workflows/cd-staging.yml
  apps/web/Dockerfile
  apps/web/nginx.conf
Owners: @adyela/core-team, @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio de Docker
  .github/docker/web-entrypoint.sh
  apps/web/Dockerfile
Owners: @adyela/core-team, @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio de Docker
  .github/docker/web-entrypoint.sh
  apps/web/Dockerfile
Owners: @adyela/core-team, @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio de Docker
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio de Docker
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio de Docker
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio de Docker
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/docker/web-entrypoint.sh
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/docker/web-entrypoint.sh
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(web): externaliza y corrige permisos del script de inicio
  apps/web/Dockerfile
  apps/web/nginx.conf
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  apps/web/Dockerfile
  apps/web/nginx.conf
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/workflows/cd-staging.yml
  apps/web/Dockerfile
Owners: @adyela/core-team, @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/workflows/cd-staging.yml
  apps/web/Dockerfile
Owners: @adyela/core-team, @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  apps/web/nginx.conf
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  apps/web/nginx.conf
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/docker/web-entrypoint.sh
  apps/web/Dockerfile
  apps/web/nginx.conf
Owners: @adyela/core-team, @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/docker/web-entrypoint.sh
  apps/web/Dockerfile
  apps/web/nginx.conf
Owners: @adyela/core-team, @adyela/frontend-team

.github/CODEOWNERS:

# CODEOWNERS
# Cada línea es un patrón de archivo seguido de uno o más owners.

# Owners por defecto
* @adyela/core-team

# Backend
/apps/api/ @adyela/backend-team
/apps/api/src/domain/ @adyela/backend-team @adyela/architects

# Frontend
/apps/web/ @adyela/frontend-team
/packages/ui/ @adyela/frontend-team

# Infraestructura
/infra/ @adyela/devops-team
/.github/workflows/ @adyela/devops-team

# Shared packages
/packages/core/ @adyela/backend-team @adyela/frontend-team
/packages/config/ @adyela/core-team

# Documentación
/docs/ @adyela/architects
/docs/adrs/ @adyela/architects
*.md @adyela/core-team

# Configuración crítica
package.json @adyela/core-team
pnpm-workspace.yaml @adyela/core-team
turbo.json @adyela/core-team
.github/ @adyela/core-team
