Repository heggar/adyela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adyela/core-team, @adyela/backend-team, @adyela/architects, @adyela/frontend-team, @adyela/devops-team

fix(infra): corregir variable reservada 'version' en módulo Cloud Run
  infra/modules/cloud-run/main.tf
  infra/modules/cloud-run/variables.tf
Owners: @adyela/devops-team

fix(infra): corregir errores de seguridad IAM en service account
  infra/modules/service-account/main.tf
Owners: @adyela/devops-team

ci(infra): disparar ejecución de terraform plan staging
  infra/README.md
Owners: @adyela/core-team

fix(infra): corregir dependencias de Terraform Plan en CI-Infrastructure
  .github/workflows/ci-infra.yml
Owners: @adyela/core-team

ci(infra): ejecutar workflow completo CI-Infrastructure
  infra/README.md
Owners: @adyela/core-team

docs: actualizar QUICK_VIEW.md con estado real de staging
  docs/architecture/QUICK_VIEW.md
Owners: @adyela/core-team

feat(web): implement OAuth social authentication with Google, Facebook, Apple, and Microsoft
  .github/workflows/cd-staging.yml
  apps/api/adyela_api/presentation/api/v1/__init__.py
  apps/api/adyela_api/presentation/api/v1/endpoints/auth.py
  apps/api/adyela_api/presentation/schemas/auth.py
  apps/api/tests/unit/test_oauth_sync.py
  apps/web/README.md
  apps/web/src/components/ui/icons/AppleIcon.tsx
  apps/web/src/components/ui/icons/FacebookIcon.tsx
  apps/web/src/components/ui/icons/GoogleIcon.tsx
  apps/web/src/components/ui/icons/MicrosoftIcon.tsx
  apps/web/src/config/firebase.ts
  apps/web/src/features/auth/components/LoginPage.tsx
  apps/web/src/features/auth/components/OAuthButtons.tsx
  apps/web/src/features/auth/hooks/useOAuthLogin.ts
  apps/web/src/features/auth/services/authService.ts
  apps/web/src/i18n/locales/en/translation.json
  apps/web/src/i18n/locales/es/translation.json
  apps/web/src/store/authStore.ts
  docs/architecture/QUICK_VIEW.md
  docs/guides/OAUTH_SETUP.md
  scripts/setup-oauth-secrets.sh
  scripts/test-oauth-local.sh
Owners: @adyela/core-team, @adyela/backend-team, @adyela/frontend-team

feat(web): implementar política de privacidad robusta y ruta pública
  apps/web/src/app/App.tsx
  apps/web/src/features/auth/components/LoginPage.tsx
  apps/web/src/features/legal/components/PrivacyPolicyPage.tsx
  apps/web/src/i18n/locales/en/translation.json
  apps/web/src/i18n/locales/es/translation.json
  docs/infrastructure/IDENTITY_DEPLOYMENT_STATUS.md
  docs/infrastructure/IDENTITY_PLATFORM_QUICKSTART.md
  docs/infrastructure/identity-platform-deployment.md
  infra/environments/staging/identity-platform-example.tf
  infra/environments/staging/identity-platform.tf
  infra/environments/staging/identity-platform.tfplan
  infra/modules/identity/README.md
  infra/modules/identity/examples.tfvars
  infra/modules/identity/main.tf
  infra/modules/identity/outputs.tf
  infra/modules/identity/providers.tf
  infra/modules/identity/variables.tf
  infra/modules/identity/versions.tf
  scripts/setup/setup-identity-secrets.sh
Owners: @adyela/frontend-team, @adyela/core-team, @adyela/devops-team

feat(api,web): implementar funcionalidad de eliminación de datos de usuario
  apps/api/adyela_api/presentation/api/v1/__init__.py
  apps/api/adyela_api/presentation/api/v1/endpoints/data_deletion.py
  apps/api/adyela_api/presentation/schemas/data_deletion.py
  apps/web/src/app/App.tsx
  apps/web/src/features/legal/components/DataDeletionPage.tsx
  apps/web/src/features/legal/components/PrivacyPolicyPage.tsx
  apps/web/src/i18n/locales/en/translation.json
  apps/web/src/i18n/locales/es/translation.json
Owners: @adyela/backend-team, @adyela/frontend-team

fix(infra): corregir checkout en workflow CD-Staging
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(api,web): corregir errores de CI/CD
  apps/api/adyela_api/infrastructure/services/auth/__init__.py
  apps/api/adyela_api/presentation/api/v1/endpoints/auth.py
  apps/api/adyela_api/presentation/api/v1/endpoints/data_deletion.py
  apps/api/adyela_api/presentation/schemas/auth.py
  apps/api/adyela_api/presentation/schemas/data_deletion.py
  apps/api/tests/unit/test_oauth_sync.py
Owners: @adyela/backend-team

fix(api): corregir errores de linting con Ruff
  apps/api/adyela_api/presentation/api/v1/__init__.py
  apps/api/adyela_api/presentation/api/v1/endpoints/auth.py
  apps/api/adyela_api/presentation/api/v1/endpoints/data_deletion.py
  apps/api/adyela_api/presentation/schemas/auth.py
  apps/api/adyela_api/presentation/schemas/data_deletion.py
  apps/api/tests/unit/test_oauth_sync.py
  apps/web/src/features/auth/components/OAuthButtons.tsx
Owners: @adyela/backend-team, @adyela/frontend-team

fix(api): corregir errores de MyPy
  apps/api/adyela_api/infrastructure/__init__.py
  apps/api/adyela_api/infrastructure/services/auth/firebase_auth_service.py
  apps/api/adyela_api/main.py
  apps/api/adyela_api/presentation/api/v1/endpoints/data_deletion.py
  apps/api/mypy.ini
Owners: @adyela/backend-team

fix(api): corregir test fallido y advertencias de deprecación
  apps/api/adyela_api/domain/entities/appointment.py
  apps/api/adyela_api/main.py
  apps/api/tests/unit/domain/test_appointment.py
  apps/api/tests/unit/test_oauth_sync.py
Owners: @adyela/backend-team

fix(api): corregir errores de Black y MyPy
  apps/api/adyela_api/main.py
  apps/api/adyela_api/presentation/middleware/logging_middleware.py
  apps/api/adyela_api/presentation/middleware/tenant_middleware.py
Owners: @adyela/backend-team

fix(infra): usar versiones específicas de secrets en lugar de latest
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(infra): usar versión 2 para secrets de Facebook
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(infra): usar 'latest' para todas las versiones de secrets
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(web): configurar variables de entorno Firebase en Dockerfile
  apps/web/Dockerfile
Owners: @adyela/frontend-team

feat(web): agregar logging de configuración Firebase
  apps/web/src/config/firebase.ts
Owners: @adyela/frontend-team

fix(web): invalidar cache de JS/CSS en cada deployment
  apps/web/nginx.conf
Owners: @adyela/frontend-team

fix(web): corregir variable de entorno API_BASE_URL
  .github/workflows/cd-staging.yml
  apps/web/Dockerfile
Owners: @adyela/core-team, @adyela/frontend-team

feat(infra): configurar API a través de Load Balancer
  infra/environments/staging/main.tf
  infra/modules/load-balancer/main.tf
  infra/modules/load-balancer/variables.tf
Owners: @adyela/devops-team

feat(infra): aplicar configuración de Load Balancer para API
  infra/modules/cloud-run/main.tf
  infra/modules/load-balancer/main.tf
Owners: @adyela/devops-team

fix(infra): corregir memoria mínima para Cloud Run Web
  infra/modules/cloud-run/main.tf
Owners: @adyela/devops-team

fix(api): exclude auth endpoints from tenant middleware validation
  apps/api/adyela_api/presentation/middleware/tenant_middleware.py
Owners: @adyela/backend-team

fix(api): add /api prefix to router to match Load Balancer routing
  apps/api/adyela_api/main.py
Owners: @adyela/backend-team

fix(ops): disable docker image load to prevent cache reuse issue
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(ops): fix Cloud Run web deployment memory requirement
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

feat: configure CDN with public storage access for static assets
  infra/environments/staging/main.tf
  infra/modules/cloud-run/main.tf
  infra/modules/cloud-run/variables.tf
  infra/modules/load-balancer/main.tf
  infra/modules/load-balancer/outputs.tf
Owners: @adyela/devops-team

fix(api): correct health check endpoint routing
  apps/api/adyela_api/main.py
  apps/api/adyela_api/presentation/api/v1/__init__.py
  apps/web/nginx.conf
  docs/architecture/ARCHITECTURE_ANALYSIS_2024.md
  docs/architecture/IMPLEMENTATION_PLAN_2024.md
  docs/architecture/QUICK_VIEW.md
  docs/infrastructure/GITHUB_SECRETS_ANALYSIS.md
  docs/infrastructure/IAM_POLICY_EXCEPTION_REQUEST.md
  docs/infrastructure/STAGING_DEPLOYMENT_STATUS.md
  infra/modules/load-balancer/main.tf
  scripts/deploy-static-assets.sh
  scripts/enable-oauth-providers.js
  scripts/setup/setup-firebase-web-secrets.sh
Owners: @adyela/backend-team, @adyela/frontend-team, @adyela/core-team, @adyela/devops-team

feat(infra): implement Cloudflare CDN integration
  docs/architecture/CLOUDFLARE_MIGRATION_GUIDE.md
  docs/architecture/CLOUDFLARE_SETUP_INSTRUCTIONS.md
  infra/environments/staging/main.tf
  infra/modules/cloudflare/main.tf
  infra/modules/cloudflare/outputs.tf
  infra/modules/cloudflare/variables.tf
  scripts/migrate-to-cloudflare.sh
  scripts/setup-cloudflare.sh
Owners: @adyela/core-team, @adyela/devops-team

fix(api): corregir doble prefijo /api/api/v1/ en router
  apps/api/adyela_api/presentation/api/v1/__init__.py
Owners: @adyela/backend-team

style(infra): format terraform files
  infra/environments/staging/identity-platform.tf
  infra/environments/staging/main.tf
  infra/environments/staging/tfplan
  infra/modules/cloud-run/main.tf
  infra/modules/cloudflare/main.tf
  infra/modules/cloudflare/outputs.tf
  infra/modules/identity/examples.tfvars
  infra/modules/identity/main.tf
  infra/modules/identity/variables.tf
  infra/modules/load-balancer/main.tf
Owners: @adyela/devops-team

feat(ops): agregar logging verbose detallado al pipeline de staging
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(ops): corregir sintaxis de CORS_ORIGINS en deployment
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(ops): usar env-vars-file para CORS_ORIGINS con URLs
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

feat(infra): implement pragmatic staging with monitoring
  docs/architecture/ARCHITECTURE_CRITICAL_ANALYSIS.md
  docs/architecture/COMPREHENSIVE_ARCHITECTURE_PLAN.md
  docs/architecture/COMPREHENSIVE_VALIDATION_SUMMARY.md
  docs/architecture/CRITICAL_FIXES_IMPLEMENTATION_PLAN.md
  docs/architecture/EXECUTIVE_SUMMARY.md
  docs/architecture/PHASE1_DNS_FIX.md
  docs/architecture/PHASE1_EXECUTION_PLAN.md
  docs/architecture/PHASE2_VALIDATION_REPORT.md
  docs/architecture/QUICK_VIEW.md
  docs/architecture/RESUMEN_EJECUTIVO.md
  docs/architecture/STAGING_PRAGMATIC_PLAN.md
  infra/environments/staging/main.tf
  infra/environments/staging/tfplan
  infra/environments/staging/variables.tf
  infra/modules/cloud-run/main.tf
  infra/modules/cloud-run/variables.tf
  infra/modules/monitoring/main.tf
  infra/modules/monitoring/outputs.tf
  infra/modules/monitoring/variables.tf
  scripts/phase1-execution.sh
  scripts/validate-critical-fixes.sh
  scripts/validate-phase1-dns.sh
Owners: @adyela/core-team, @adyela/devops-team

fix(infra): update alert email to production email
  infra/environments/staging/variables.tf
Owners: @adyela/devops-team

docs(ops): add comprehensive alert and OAuth configuration guide
  docs/architecture/FINAL_STATUS_REPORT.md
  docs/guides/ALERTAS_Y_OAUTH_CONFIG.md
  scripts/verify-alerts-and-oauth.sh
Owners: @adyela/core-team

.github/CODEOWNERS:

# CODEOWNERS
# Cada línea es un patrón de archivo seguido de uno o más owners.

# Owners por defecto
* @adyela/core-team

# Backend
/apps/api/ @adyela/backend-team
/apps/api/src/domain/ @adyela/backend-team @adyela/architects

# Frontend
/apps/web/ @adyela/frontend-team
/packages/ui/ @adyela/frontend-team

# Infraestructura
/infra/ @adyela/devops-team
/.github/workflows/ @adyela/devops-team

# Shared packages
/packages/core/ @adyela/backend-team @adyela/frontend-team
/packages/config/ @adyela/core-team

# Documentación
/docs/ @adyela/architects
/docs/adrs/ @adyela/architects
*.md @adyela/core-team

# Configuración crítica
package.json @adyela/core-team
pnpm-workspace.yaml @adyela/core-team
turbo.json @adyela/core-team
.github/ @adyela/core-team
