Repository heggar/adyela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adyela/core-team, @adyela/backend-team, @adyela/architects, @adyela/frontend-team, @adyela/devops-team

.github/CODEOWNERS:

# CODEOWNERS
# Cada línea es un patrón de archivo seguido de uno o más owners.

# Owners por defecto
* @adyela/core-team

# Backend
/apps/api/ @adyela/backend-team
/apps/api/src/domain/ @adyela/backend-team @adyela/architects

# Frontend
/apps/web/ @adyela/frontend-team
/packages/ui/ @adyela/frontend-team

# Infraestructura
/infra/ @adyela/devops-team
/.github/workflows/ @adyela/devops-team

# Shared packages
/packages/core/ @adyela/backend-team @adyela/frontend-team
/packages/config/ @adyela/core-team

# Documentación
/docs/ @adyela/architects
/docs/adrs/ @adyela/architects
*.md @adyela/core-team

# Configuración crítica
package.json @adyela/core-team
pnpm-workspace.yaml @adyela/core-team
turbo.json @adyela/core-team
.github/ @adyela/core-team

fix: resolve CI workflow failures and accessibility issues
  .github/workflows/ci-api.yml
  .github/workflows/ci-infra.yml
  IMPROVEMENT_PLAN.md
  apps/web/src/features/auth/components/LoginPage.tsx
Owners: @adyela/core-team, @adyela/frontend-team

fix: update Schemathesis CLI option from --base-url to --url
  .github/workflows/ci-api.yml
Owners: @adyela/core-team

fix: update Schemathesis CLI option from --base-url to --url
  .github/workflows/ci-api.yml
Owners: @adyela/core-team

feat: implement local development environment with Docker Compose
  .env.example
  .github/workflows/cd-dev.yml
  .github/workflows/cd-staging.yml
  DEPLOYMENT_STRATEGY.md
  LOCAL_SETUP.md
  Makefile
  apps/api/.env.example
  apps/web/.env.example
  docker-compose.dev.yml
  firebase.json
  firestore.indexes.json
  firestore.rules
  storage.rules
Owners: @adyela/core-team, @adyela/backend-team, @adyela/frontend-team

feat: implement local development environment with Docker Compose
  .env.example
  .github/workflows/cd-dev.yml
  .github/workflows/cd-staging.yml
  DEPLOYMENT_STRATEGY.md
  LOCAL_SETUP.md
  Makefile
  apps/api/.env.example
  apps/web/.env.example
  docker-compose.dev.yml
  firebase.json
  firestore.indexes.json
  firestore.rules
  storage.rules
Owners: @adyela/core-team, @adyela/backend-team, @adyela/frontend-team

fix: configure Dockerfiles for local dev with monorepo support
  apps/api/Dockerfile
  apps/web/Dockerfile
  docker-compose.dev.yml
Owners: @adyela/backend-team, @adyela/frontend-team, @adyela/core-team

fix: configure Dockerfiles for local dev with monorepo support
  apps/api/Dockerfile
  apps/web/Dockerfile
  docker-compose.dev.yml
Owners: @adyela/backend-team, @adyela/frontend-team, @adyela/core-team

docs: add comprehensive GCP setup guide and automation scripts
  docs/README.md
  docs/deployment/gcp-setup.md
  scripts/enable-gcp-apis.sh
  scripts/setup-gcp-oidc.sh
Owners: @adyela/core-team

docs: add comprehensive GCP setup guide and automation scripts
  docs/README.md
  docs/deployment/gcp-setup.md
  scripts/enable-gcp-apis.sh
  scripts/setup-gcp-oidc.sh
Owners: @adyela/core-team

docs: add architecture validation report and cost optimization
  docs/deployment/VALIDATION_SUMMARY.md
  docs/deployment/architecture-validation.md
  scripts/check-daily-costs.sh
  scripts/setup-budgets.sh
Owners: @adyela/core-team

docs: add architecture validation report and cost optimization
  docs/deployment/VALIDATION_SUMMARY.md
  docs/deployment/architecture-validation.md
  scripts/check-daily-costs.sh
  scripts/setup-budgets.sh
Owners: @adyela/core-team

feat: add comprehensive SDLC agents, documentation, and quality automation
  .claude/agents/cloud-architect-agent.md
  .claude/agents/cybersecurity-agent.md
  .claude/agents/healthcare-compliance-agent.md
  .claude/agents/qa-automation-agent.md
  .claude/mcp-config.json
  .gitignore
  CLAUDE.md
  CROSS_BROWSER_TESTING_REPORT.md
  FINAL_QUALITY_REPORT.md
  FIXES_SUMMARY.md
  Makefile
  QUALITY_EXECUTION_REPORT.md
  apps/api/adyela_api/config/settings.py
  apps/api/adyela_api/main.py
  apps/web/src/features/auth/components/LoginPage.tsx
  apps/web/src/features/dashboard/DashboardPage.tsx
  docker-compose.dev.yml
  docs/COMPREHENSIVE_OPTIMIZATION_PLAN.md
  docs/MCP_INTEGRATION_MATRIX.md
  docs/MCP_SERVERS_GUIDE.md
  docs/PROJECT_COMMANDS_REFERENCE.md
  docs/PROJECT_STRUCTURE_ANALYSIS.md
  docs/QUALITY_AUTOMATION.md
  docs/TASKMASTER_AI_GUIDE.md
  docs/TOKEN_OPTIMIZATION_STRATEGY.md
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/api-contract-tests.sh
  scripts/lighthouse-audit.sh
  scripts/quality-checks.sh
  scripts/setup-mcp-servers.sh
  tests/e2e/api-health.spec.ts
  tests/e2e/auth.spec.ts
Owners: @adyela/core-team, @adyela/backend-team, @adyela/frontend-team

feat: add comprehensive SDLC agents, documentation, and quality automation
  .claude/agents/cloud-architect-agent.md
  .claude/agents/cybersecurity-agent.md
  .claude/agents/healthcare-compliance-agent.md
  .claude/agents/qa-automation-agent.md
  .gitignore
  CLAUDE.md
  CROSS_BROWSER_TESTING_REPORT.md
  FINAL_QUALITY_REPORT.md
  FIXES_SUMMARY.md
  Makefile
  QUALITY_EXECUTION_REPORT.md
  apps/api/adyela_api/config/settings.py
  apps/api/adyela_api/main.py
  apps/web/src/features/auth/components/LoginPage.tsx
  apps/web/src/features/dashboard/DashboardPage.tsx
  docker-compose.dev.yml
  docs/COMPREHENSIVE_OPTIMIZATION_PLAN.md
  docs/MCP_INTEGRATION_MATRIX.md
  docs/MCP_SERVERS_GUIDE.md
  docs/PROJECT_COMMANDS_REFERENCE.md
  docs/PROJECT_STRUCTURE_ANALYSIS.md
  docs/QUALITY_AUTOMATION.md
  docs/TASKMASTER_AI_GUIDE.md
  docs/TOKEN_OPTIMIZATION_STRATEGY.md
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/api-contract-tests.sh
  scripts/lighthouse-audit.sh
  scripts/quality-checks.sh
  scripts/setup-mcp-servers.sh
  tests/e2e/api-health.spec.ts
  tests/e2e/auth.spec.ts
Owners: @adyela/core-team, @adyela/backend-team, @adyela/frontend-team

fix: resolve CI failures - mypy, schemathesis, and terraform auth
  .github/workflows/ci-infra.yml
  apps/api/adyela_api/main.py
  scripts/api-contract-tests.sh
Owners: @adyela/core-team, @adyela/backend-team

fix: resolve CI failures - mypy, schemathesis, and terraform auth
  .github/workflows/ci-infra.yml
  apps/api/adyela_api/main.py
  scripts/api-contract-tests.sh
Owners: @adyela/core-team, @adyela/backend-team

feat: add comprehensive GCP setup automation scripts
  .gitignore
  GCP_SETUP_QUICKSTART.md
  scripts/gcp-setup-interactive.sh
  scripts/setup-gcp-complete.sh
  scripts/setup-terraform-backend.sh
Owners: @adyela/core-team

feat: add comprehensive GCP setup automation scripts
  .gitignore
  GCP_SETUP_QUICKSTART.md
  scripts/gcp-setup-interactive.sh
  scripts/setup-gcp-complete.sh
  scripts/setup-terraform-backend.sh
Owners: @adyela/core-team

fix: update OIDC secrets and add budget monitoring automation
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
  docs/budget-monitoring.md
  infra/environments/dev/backend.tf
  infra/environments/production/backend.tf
  infra/environments/staging/backend.tf
  scripts/enable-gcp-apis.sh
  scripts/setup-auto-shutdown.sh
  scripts/setup-budget-notifications.sh
  scripts/setup-gcp-oidc.sh
  scripts/simple-auto-shutdown.sh
Owners: @adyela/core-team, @adyela/devops-team

fix: update OIDC secrets and add budget monitoring automation
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
  docs/budget-monitoring.md
  infra/environments/dev/backend.tf
  infra/environments/production/backend.tf
  infra/environments/staging/backend.tf
  scripts/enable-gcp-apis.sh
  scripts/setup-auto-shutdown.sh
  scripts/setup-budget-notifications.sh
  scripts/setup-gcp-oidc.sh
  scripts/simple-auto-shutdown.sh
Owners: @adyela/core-team, @adyela/devops-team

fix: resolve CI failures - schemathesis option and black formatting
  .github/workflows/ci-api.yml
  apps/api/adyela_api/main.py
Owners: @adyela/core-team, @adyela/backend-team

fix: resolve CI failures - schemathesis option and black formatting
  .github/workflows/ci-api.yml
  apps/api/adyela_api/main.py
Owners: @adyela/core-team, @adyela/backend-team

fix: remove invalid schemathesis --hypothesis-deadline option
  .github/workflows/ci-api.yml
Owners: @adyela/core-team

fix: remove invalid schemathesis --hypothesis-deadline option
  .github/workflows/ci-api.yml
Owners: @adyela/core-team

fix: resolve schemathesis and terraform configuration errors
  .github/workflows/ci-api.yml
  infra/environments/dev/main.tf
  infra/environments/production/main.tf
  infra/environments/staging/main.tf
Owners: @adyela/core-team, @adyela/devops-team

fix: resolve schemathesis and terraform configuration errors
  .github/workflows/ci-api.yml
  infra/environments/dev/main.tf
  infra/environments/production/main.tf
  infra/environments/staging/main.tf
Owners: @adyela/core-team, @adyela/devops-team

fix: resolve GitHub Actions syntax errors and add Slack notifications
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: resolve GitHub Actions syntax errors and add Slack notifications
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: disable Schemathesis contract tests until APIs are implemented
  .github/workflows/ci-api.yml
Owners: @adyela/core-team

fix: disable Schemathesis contract tests until APIs are implemented
  .github/workflows/ci-api.yml
Owners: @adyela/core-team

fix: add security-events permission to CI workflows
  .github/workflows/ci-api.yml
  .github/workflows/ci-web.yml
Owners: @adyela/core-team

fix: add security-events permission to CI workflows
  .github/workflows/ci-api.yml
  .github/workflows/ci-web.yml
Owners: @adyela/core-team

fix: remove invalid secrets check in Slack notification steps
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: remove invalid secrets check in Slack notification steps
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: replace invalid secrets check for COSIGN_PRIVATE_KEY with continue-on-error
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: replace invalid secrets check for COSIGN_PRIVATE_KEY with continue-on-error
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: move workflows to .github/workflows and fix secrets validation
  .github/workflows/.github/workflows/cd-production.yml
  .github/workflows/.github/workflows/cd-staging.yml
  .github/workflows/.github/workflows/ci-api.yml
  .github/workflows/.github/workflows/ci-infra.yml
  .github/workflows/.github/workflows/ci-web.yml
Owners: @adyela/core-team

fix: move workflows to .github/workflows and fix secrets validation (#5)
  .github/workflows/.github/workflows/cd-production.yml
  .github/workflows/.github/workflows/cd-staging.yml
  .github/workflows/.github/workflows/ci-api.yml
  .github/workflows/.github/workflows/ci-infra.yml
  .github/workflows/.github/workflows/ci-web.yml
Owners: @adyela/core-team

fix: move workflows to .github/workflows and fix secrets validation (#5)
  .github/workflows/.github/workflows/cd-production.yml
  .github/workflows/.github/workflows/cd-staging.yml
  .github/workflows/.github/workflows/ci-api.yml
  .github/workflows/.github/workflows/ci-infra.yml
  .github/workflows/.github/workflows/ci-web.yml
Owners: @adyela/core-team

fix: correct workflow file locations
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
  .github/workflows/ci-api.yml
  .github/workflows/ci-infra.yml
  .github/workflows/ci-web.yml
Owners: @adyela/core-team

fix: correct workflow file locations
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
  .github/workflows/ci-api.yml
  .github/workflows/ci-infra.yml
  .github/workflows/ci-web.yml
Owners: @adyela/core-team
