Repository heggar/adyela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adyela/core-team, @adyela/backend-team, @adyela/architects, @adyela/frontend-team, @adyela/devops-team

fix: correct workflow file locations (#6)
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
  .github/workflows/ci-api.yml
  .github/workflows/ci-infra.yml
  .github/workflows/ci-web.yml
Owners: @adyela/core-team

fix: correct workflow file locations (#6)
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
  .github/workflows/ci-api.yml
  .github/workflows/ci-infra.yml
  .github/workflows/ci-web.yml
Owners: @adyela/core-team

fix: update pnpm version in workflows to match package.json
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
  EXECUTE_NOW.sh
  NEXT_STEPS.md
  docs/FIREBASE_COST_ESTIMATE.md
  docs/GOOGLE_ANALYTICS_IMPLICATIONS.md
  docs/STAGING_DEPLOYMENT_GUIDE.md
  scripts/setup-firebase-secrets.sh
  scripts/setup-gcp-secrets-manual.sh
  scripts/setup-gcp-secrets.sh
  scripts/setup-staging-deployment.sh
Owners: @adyela/core-team

fix: update pnpm version in workflows to match package.json
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
  EXECUTE_NOW.sh
  NEXT_STEPS.md
  docs/FIREBASE_COST_ESTIMATE.md
  docs/GOOGLE_ANALYTICS_IMPLICATIONS.md
  docs/STAGING_DEPLOYMENT_GUIDE.md
  scripts/setup-firebase-secrets.sh
  scripts/setup-gcp-secrets-manual.sh
  scripts/setup-gcp-secrets.sh
  scripts/setup-staging-deployment.sh
Owners: @adyela/core-team

fix: correct Docker image output in CD workflows
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
  scripts/create-artifact-registry.sh
Owners: @adyela/core-team

fix: correct Docker image output in CD workflows
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
  scripts/create-artifact-registry.sh
Owners: @adyela/core-team

fix: improve Docker image output generation
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: improve Docker image output generation
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

ci: add debug logging to inspect build job outputs in deploy step
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

ci: add debug logging to inspect build job outputs in deploy step
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: hardcode GCP project IDs in workflow outputs (secrets cannot be in outputs)
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: hardcode GCP project IDs in workflow outputs (secrets cannot be in outputs)
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: pass only version in job outputs, rebuild image tag in deploy jobs
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: pass only version in job outputs, rebuild image tag in deploy jobs
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: convert version to GCP-compliant label format (replace dots with dashes)
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: convert version to GCP-compliant label format (replace dots with dashes)
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: increase CPU to 1 and memory to 512Mi (Cloud Run requires cpu>=1 with concurrency>1)
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: increase CPU to 1 and memory to 512Mi (Cloud Run requires cpu>=1 with concurrency>1)
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

docs: add deployment progress tracking document
  DEPLOYMENT_PROGRESS.md
Owners: @adyela/core-team

docs: add deployment progress tracking document
  DEPLOYMENT_PROGRESS.md
Owners: @adyela/core-team

fix: use PORT env var in Dockerfile CMD and increase timeout to 300s
  .github/workflows/cd-staging.yml
  apps/api/Dockerfile
Owners: @adyela/core-team, @adyela/backend-team

fix: use PORT env var in Dockerfile CMD and increase timeout to 300s
  .github/workflows/cd-staging.yml
  apps/api/Dockerfile
Owners: @adyela/core-team, @adyela/backend-team

fix: add required GCP_PROJECT_ID environment variable to Cloud Run deployment
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: add required GCP_PROJECT_ID environment variable to Cloud Run deployment
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: remove allow-unauthenticated and use authenticated health check (org policy restriction)
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: remove allow-unauthenticated and use authenticated health check (org policy restriction)
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: make health check non-critical to allow frontend deployment
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: make health check non-critical to allow frontend deployment
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: make CDN cache invalidation non-critical for staging (CDN not configured)
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: make CDN cache invalidation non-critical for staging (CDN not configured)
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

docs: add successful deployment summary and verification guide
  DEPLOYMENT_SUCCESS.md
Owners: @adyela/core-team

docs: add successful deployment summary and verification guide
  DEPLOYMENT_SUCCESS.md
Owners: @adyela/core-team

fix: make performance and security tests conditional, add issues/security-events permissions
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: make performance and security tests conditional, add issues/security-events permissions
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: use valid artifact name (zap-scan-results) for ZAP security scan
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: use valid artifact name (zap-scan-results) for ZAP security scan
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: make ZAP artifact upload non-blocking and use manual artifact upload
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix: make ZAP artifact upload non-blocking and use manual artifact upload
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

feat: deploy frontend to Cloud Run instead of GCS
  .github/workflows/cd-staging.yml
  apps/web/Dockerfile
  apps/web/nginx.conf
Owners: @adyela/core-team, @adyela/frontend-team

feat: deploy frontend to Cloud Run instead of GCS
  .github/workflows/cd-staging.yml
  apps/web/Dockerfile
  apps/web/nginx.conf
Owners: @adyela/core-team, @adyela/frontend-team

.github/CODEOWNERS:

# CODEOWNERS
# Cada línea es un patrón de archivo seguido de uno o más owners.

# Owners por defecto
* @adyela/core-team

# Backend
/apps/api/ @adyela/backend-team
/apps/api/src/domain/ @adyela/backend-team @adyela/architects

# Frontend
/apps/web/ @adyela/frontend-team
/packages/ui/ @adyela/frontend-team

# Infraestructura
/infra/ @adyela/devops-team
/.github/workflows/ @adyela/devops-team

# Shared packages
/packages/core/ @adyela/backend-team @adyela/frontend-team
/packages/config/ @adyela/core-team

# Documentación
/docs/ @adyela/architects
/docs/adrs/ @adyela/architects
*.md @adyela/core-team

# Configuración crítica
package.json @adyela/core-team
pnpm-workspace.yaml @adyela/core-team
turbo.json @adyela/core-team
.github/ @adyela/core-team
