Repository heggar/adyela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adyela/core-team, @adyela/backend-team, @adyela/architects, @adyela/frontend-team, @adyela/devops-team

.github/CODEOWNERS:

# CODEOWNERS
# Cada línea es un patrón de archivo seguido de uno o más owners.

# Owners por defecto
* @adyela/core-team

# Backend
/apps/api/ @adyela/backend-team
/apps/api/src/domain/ @adyela/backend-team @adyela/architects

# Frontend
/apps/web/ @adyela/frontend-team
/packages/ui/ @adyela/frontend-team

# Infraestructura
/infra/ @adyela/devops-team
/.github/workflows/ @adyela/devops-team

# Shared packages
/packages/core/ @adyela/backend-team @adyela/frontend-team
/packages/config/ @adyela/core-team

# Documentación
/docs/ @adyela/architects
/docs/adrs/ @adyela/architects
*.md @adyela/core-team

# Configuración crítica
package.json @adyela/core-team
pnpm-workspace.yaml @adyela/core-team
turbo.json @adyela/core-team
.github/ @adyela/core-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/docker/web-entrypoint.sh
  apps/web/Dockerfile
  apps/web/nginx.conf
Owners: @adyela/core-team, @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/docker/web-entrypoint.sh
  apps/web/Dockerfile
  apps/web/nginx.conf
Owners: @adyela/core-team, @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/docker/web-entrypoint.sh
  apps/web/Dockerfile
Owners: @adyela/core-team, @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/docker/web-entrypoint.sh
  apps/web/Dockerfile
Owners: @adyela/core-team, @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/docker/web-entrypoint.sh
Owners: @adyela/core-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/docker/web-entrypoint.sh
Owners: @adyela/core-team

fix(web): externaliza y corrige permisos del script de inicio
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  apps/web/Dockerfile
Owners: @adyela/frontend-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(web): externaliza y corrige permisos del script de inicio
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

feat(docs): mejorar automation de task completion y agregar guía
  docs/guides/complete-task-workflow.md
  scripts/utils/task-complete.sh
Owners: @adyela/core-team

docs: agregar estrategia de MVP con análisis de costos HIPAA
  docs/planning/mvp-phi-strategy.md
  docs/planning/mvp-task-prioritization.md
Owners: @adyela/core-team

chore(config): agregar .claude/mcp-config.json a .gitignore para proteger secrets
  .gitignore
Owners: @adyela/core-team

docs: agregar análisis detallado de costos HIPAA en GCP
  docs/deployment/hipaa-compliance-cost-analysis.md
Owners: @adyela/core-team

feat(infra): implementar configuración HIPAA-compliant completa
  .github/workflows/cd-staging.yml
  docs/CD_STAGING_WORKFLOW_VALIDATION_REPORT.md
  infra/environments/staging/backend.tf
  infra/environments/staging/backend.tf.backup
  infra/environments/staging/main.tf
  infra/environments/staging/terraform.tfvars
  infra/modules/service-account/main.tf
  infra/modules/service-account/outputs.tf
  infra/modules/service-account/variables.tf
  infra/modules/vpc/main.tf
  infra/modules/vpc/variables.tf
Owners: @adyela/core-team, @adyela/devops-team

fix(infra): corregir errores de autenticación en cd-staging.yml
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

feat(infra): agregar --ingress=internal a workflow cd-staging.yml
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

feat(infra): implement load balancer with IAP for HIPAA-compliant public access
  .github/workflows/cd-staging.yml
  .husky/commit-msg
  firestore-rules-staging.rules
  firestore.rules
  infra/environments/staging/main.tf
  infra/modules/load-balancer/main.tf
  infra/modules/load-balancer/outputs.tf
  infra/modules/load-balancer/variables.tf
  monitoring-policy.json
Owners: @adyela/core-team, @adyela/devops-team

fix(infra): temporarily comment load balancer module to resolve CI errors
  infra/environments/staging/main.tf
Owners: @adyela/devops-team

fix(infra): corregir formato de archivos Terraform
  infra/environments/staging/main.tf
  infra/modules/load-balancer/main.tf
Owners: @adyela/devops-team

chore(infra): trigger CI - Infrastructure with GCP_CONFIGURED=true
  infra/README.md
Owners: @adyela/core-team

feat(infra): deshabilitar Terraform Plan para dev y production
  .github/workflows/ci-infra.yml
Owners: @adyela/core-team

feat(infra): eliminar completamente Terraform para dev
  .github/workflows/ci-infra.yml
Owners: @adyela/core-team

fix(infra): corregir nombres de secrets en CI - Infrastructure
  .github/workflows/ci-infra.yml
Owners: @adyela/core-team

feat(infra): agregar módulo Terraform para Cloud Run con configuración HIPAA
  .github/workflows/cd-staging.yml
  infra/environments/staging/main.tf
  infra/modules/cloud-run/main.tf
  infra/modules/cloud-run/outputs.tf
  infra/modules/cloud-run/variables.tf
Owners: @adyela/core-team, @adyela/devops-team

fix(infra): corregir configuración de módulo Cloud Run
  infra/environments/staging/main.tf
Owners: @adyela/devops-team
