Repository heggar/adyela, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adyela/core-team, @adyela/backend-team, @adyela/architects, @adyela/frontend-team, @adyela/devops-team

.github/CODEOWNERS:

# CODEOWNERS
# Cada línea es un patrón de archivo seguido de uno o más owners.

# Owners por defecto
* @adyela/core-team

# Backend
/apps/api/ @adyela/backend-team
/apps/api/src/domain/ @adyela/backend-team @adyela/architects

# Frontend
/apps/web/ @adyela/frontend-team
/packages/ui/ @adyela/frontend-team

# Infraestructura
/infra/ @adyela/devops-team
/.github/workflows/ @adyela/devops-team

# Shared packages
/packages/core/ @adyela/backend-team @adyela/frontend-team
/packages/config/ @adyela/core-team

# Documentación
/docs/ @adyela/architects
/docs/adrs/ @adyela/architects
*.md @adyela/core-team

# Configuración crítica
package.json @adyela/core-team
pnpm-workspace.yaml @adyela/core-team
turbo.json @adyela/core-team
.github/ @adyela/core-team

fix(web): dynamic API base URL detection for OAuth sync
  apps/web/src/store/authStore.ts
Owners: @adyela/frontend-team

docs(web): add OAuth localhost redirect fix documentation
  docs/fixes/OAUTH_LOCALHOST_REDIRECT_FIX.md
Owners: @adyela/core-team

feat(ops): add automatic CDN cache invalidation after web deployment
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(ops): configure public access via Load Balancer for Cloud Run services
  .github/workflows/cd-staging.yml
  infra/modules/cloud-run/main.tf
Owners: @adyela/core-team, @adyela/devops-team

fix(ops): corregir arquitectura híbrida para deployment
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(ops): revertir contexto Docker a raíz del proyecto
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(web): mejorar estrategia de Service Worker para evitar errores 404
  apps/web/nginx.conf
  apps/web/vite.config.ts
Owners: @adyela/frontend-team

fix(web): agregar header COOP para permitir window.close en OAuth popups
  apps/web/nginx.conf
Owners: @adyela/frontend-team

fix(web): Add specific /assets/ location rule in nginx.conf
  apps/web/nginx.conf
Owners: @adyela/frontend-team

fix(infra): Replace gsutil with gcloud storage for asset deployment
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(infra): Correct gcloud storage metadata parameter
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(infra): Use --cache-control instead of --custom-metadata
  .github/workflows/cd-staging.yml
Owners: @adyela/core-team

fix(web): Wrap OAuth data in user_data object for auth sync
  apps/web/src/store/authStore.ts
Owners: @adyela/frontend-team

fix: initialize Firebase Admin SDK in backend
  apps/api/adyela_api/main.py
Owners: @adyela/backend-team

feat: complete OAuth implementation and add documentation
  docs/architecture/IMPLEMENTATION_COMPLETE.md
  infra/modules/load-balancer/main.tf
  scripts/debug-web-deployment.sh
Owners: @adyela/core-team, @adyela/devops-team

fix: resolve all CI/CD check failures
  apps/api/adyela_api/config/settings.py
  apps/api/adyela_api/main.py
  apps/api/adyela_api/presentation/middleware/tenant_middleware.py
  apps/web/src/features/auth/components/OAuthButtons.tsx
  infra/modules/monitoring/main.tf
Owners: @adyela/backend-team, @adyela/frontend-team, @adyela/devops-team

fix: resolve Ruff linting errors
  apps/api/adyela_api/domain/entities/appointment.py
  apps/api/adyela_api/main.py
  apps/api/tests/unit/domain/test_appointment.py
Owners: @adyela/backend-team

fix(infra): sync staging terraform config with GCP state
  infra/environments/staging/main.tf
  infra/modules/cloud-run/main.tf
Owners: @adyela/devops-team

docs(infra): clarify Terraform vs CI/CD responsibilities
  infra/environments/staging/README.md
  infra/environments/staging/main.tf
  infra/modules/cloud-run/main.tf
Owners: @adyela/core-team, @adyela/devops-team

fix(infra): corregir host de API uptime check a staging.adyela.care
  docs/deployment/FASE1_VERIFICACION_RESULTADOS.md
  docs/deployment/TERRAFORM_CONFIGURATION_REVIEW.md
  infra/modules/monitoring/main.tf
Owners: @adyela/core-team, @adyela/devops-team

feat: Activar CDN y optimizaciones de costos
  apps/web/src/features/auth/hooks/useOAuthLogin.ts
  apps/web/src/features/auth/services/authService.ts
  apps/web/vite.config.ts
  infra/environments/staging/main.tf
  infra/modules/cloud-run/main.tf
  infra/modules/cloud-run/variables.tf
  infra/modules/load-balancer/main.tf
  infra/modules/vpc/main.tf
  infra/modules/vpc/outputs.tf
  infra/modules/vpc/variables.tf
Owners: @adyela/frontend-team, @adyela/devops-team

fix: Mejorar manejo de errores TypeScript en authService
  apps/web/convert-icons.js
  apps/web/public/pwa-192x192.svg
  apps/web/public/pwa-512x512.svg
  apps/web/public/vite.svg
  apps/web/src/features/auth/services/authService.ts
Owners: @adyela/frontend-team

fix(config): resolve vitest jsdom configuration issue
  apps/web/vitest.config.ts
Owners: @adyela/frontend-team

fix(config): update test script to use vitest run mode
  apps/web/package.json
Owners: @adyela/core-team

feat: implement complete microservices architecture foundation
  .github/workflows/cd-deploy-staging.yml
  .github/workflows/ci-api-auth.yml
  .github/workflows/security-scan.yml
  apps/MICROSERVICES_ARCHITECTURE.md
  apps/api-auth/Dockerfile
  apps/api-auth/README.md
  apps/api-auth/pyproject.toml
  apps/mobile-patient/README.md
  apps/mobile-patient/pubspec.yaml
  apps/mobile-professional/README.md
  infra/README.md
  infra/environments/staging/microservices.tf
  infra/environments/staging/variables.tf
  infra/modules/cloud-run-service/main.tf
  infra/modules/cloud-run-service/outputs.tf
  infra/modules/cloud-run-service/variables.tf
  infra/modules/finops/main.tf
  infra/modules/finops/outputs.tf
  infra/modules/finops/variables.tf
  infra/modules/messaging/pubsub/main.tf
  infra/modules/messaging/pubsub/outputs.tf
  infra/modules/messaging/pubsub/variables.tf
  infra/modules/microservices/api-auth/main.tf
  infra/modules/microservices/api-auth/outputs.tf
  infra/modules/microservices/api-auth/variables.tf
Owners: @adyela/core-team, @adyela/devops-team

feat: complete foundation implementation with api-auth base code and deployment automation
  .github/workflows/security-scan.yml
  DEPLOYMENT_GUIDE.md
  IMPLEMENTATION_STATUS.md
  apps/MICROSERVICES_ARCHITECTURE.md
  apps/api-auth/README.md
  apps/api-auth/adyela_api_auth/__init__.py
  apps/api-auth/adyela_api_auth/application/__init__.py
  apps/api-auth/adyela_api_auth/application/ports/__init__.py
  apps/api-auth/adyela_api_auth/application/use_cases/__init__.py
  apps/api-auth/adyela_api_auth/config/__init__.py
  apps/api-auth/adyela_api_auth/config/settings.py
  apps/api-auth/adyela_api_auth/domain/__init__.py
  apps/api-auth/adyela_api_auth/domain/entities/__init__.py
  apps/api-auth/adyela_api_auth/domain/entities/user.py
  apps/api-auth/adyela_api_auth/domain/interfaces/__init__.py
  apps/api-auth/adyela_api_auth/domain/value_objects/__init__.py
  apps/api-auth/adyela_api_auth/infrastructure/__init__.py
  apps/api-auth/adyela_api_auth/infrastructure/auth_providers/__init__.py
  apps/api-auth/adyela_api_auth/infrastructure/repositories/__init__.py
  apps/api-auth/adyela_api_auth/infrastructure/security/__init__.py
  apps/api-auth/adyela_api_auth/main.py
  apps/api-auth/adyela_api_auth/presentation/__init__.py
  apps/api-auth/adyela_api_auth/presentation/api/__init__.py
  apps/api-auth/adyela_api_auth/presentation/api/router.py
  apps/api-auth/adyela_api_auth/presentation/api/v1/__init__.py
  apps/api-auth/adyela_api_auth/presentation/api/v1/auth.py
  apps/api-auth/adyela_api_auth/presentation/middleware/__init__.py
  apps/api-auth/adyela_api_auth/presentation/middleware/correlation_id.py
  apps/api-auth/adyela_api_auth/presentation/middleware/logging_middleware.py
  apps/api-auth/adyela_api_auth/presentation/schemas/__init__.py
  apps/api-auth/adyela_api_auth/presentation/schemas/auth.py
  apps/mobile-patient/README.md
  apps/mobile-patient/pubspec.yaml
  apps/mobile-professional/README.md
  infra/README.md
  scripts/deploy-all.sh
  scripts/setup-secrets.sh
Owners: @adyela/core-team

feat(api): implement complete authentication system for api-auth microservice
  apps/api-auth/adyela_api_auth/application/ports/__init__.py
  apps/api-auth/adyela_api_auth/application/use_cases/__init__.py
  apps/api-auth/adyela_api_auth/application/use_cases/login_user.py
  apps/api-auth/adyela_api_auth/application/use_cases/oauth_login.py
  apps/api-auth/adyela_api_auth/application/use_cases/refresh_token.py
  apps/api-auth/adyela_api_auth/application/use_cases/register_user.py
  apps/api-auth/adyela_api_auth/application/use_cases/validate_token.py
  apps/api-auth/adyela_api_auth/domain/interfaces/__init__.py
  apps/api-auth/adyela_api_auth/domain/interfaces/auth_service.py
  apps/api-auth/adyela_api_auth/domain/interfaces/token_service.py
  apps/api-auth/adyela_api_auth/domain/interfaces/user_repository.py
  apps/api-auth/adyela_api_auth/infrastructure/auth_providers/firebase_auth_service.py
  apps/api-auth/adyela_api_auth/infrastructure/repositories/firestore_user_repository.py
  apps/api-auth/adyela_api_auth/infrastructure/security/jwt_token_service.py
  apps/api-auth/adyela_api_auth/presentation/api/v1/auth.py
  apps/api-auth/pyproject.toml
Owners: @adyela/core-team

feat(api): complete all authentication endpoints
  apps/api-auth/adyela_api_auth/presentation/api/v1/auth.py
  apps/api-auth/adyela_api_auth/presentation/schemas/auth.py
Owners: @adyela/core-team

test(api): add comprehensive unit tests for api-auth authentication system
  apps/api-auth/tests/conftest.py
  apps/api-auth/tests/unit/__init__.py
  apps/api-auth/tests/unit/test_jwt_token_service.py
  apps/api-auth/tests/unit/test_login_user_use_case.py
  apps/api-auth/tests/unit/test_register_user_use_case.py
  apps/api-auth/tests/unit/test_validate_and_refresh_token.py
Owners: @adyela/core-team

feat(api): implement api-appointments microservice with hexagonal architecture
  apps/api-appointments/.env.example
  apps/api-appointments/README.md
  apps/api-appointments/adyela_api_appointments/__init__.py
  apps/api-appointments/adyela_api_appointments/application/__init__.py
  apps/api-appointments/adyela_api_appointments/application/ports/__init__.py
  apps/api-appointments/adyela_api_appointments/application/ports/repositories.py
  apps/api-appointments/adyela_api_appointments/application/ports/services.py
  apps/api-appointments/adyela_api_appointments/application/use_cases/__init__.py
  apps/api-appointments/adyela_api_appointments/application/use_cases/appointments/__init__.py
  apps/api-appointments/adyela_api_appointments/application/use_cases/appointments/cancel_appointment.py
  apps/api-appointments/adyela_api_appointments/application/use_cases/appointments/check_availability.py
  apps/api-appointments/adyela_api_appointments/application/use_cases/appointments/confirm_appointment.py
  apps/api-appointments/adyela_api_appointments/application/use_cases/appointments/create_appointment.py
  apps/api-appointments/adyela_api_appointments/application/use_cases/appointments/get_appointment.py
  apps/api-appointments/adyela_api_appointments/application/use_cases/appointments/list_appointments.py
  apps/api-appointments/adyela_api_appointments/config/__init__.py
  apps/api-appointments/adyela_api_appointments/config/constants.py
  apps/api-appointments/adyela_api_appointments/config/settings.py
  apps/api-appointments/adyela_api_appointments/domain/__init__.py
  apps/api-appointments/adyela_api_appointments/domain/entities/__init__.py
  apps/api-appointments/adyela_api_appointments/domain/entities/appointment.py
  apps/api-appointments/adyela_api_appointments/domain/exceptions.py
  apps/api-appointments/adyela_api_appointments/domain/value_objects/__init__.py
  apps/api-appointments/adyela_api_appointments/domain/value_objects/date_time_range.py
  apps/api-appointments/adyela_api_appointments/domain/value_objects/tenant_id.py
  apps/api-appointments/adyela_api_appointments/infrastructure/__init__.py
  apps/api-appointments/adyela_api_appointments/infrastructure/pubsub/__init__.py
  apps/api-appointments/adyela_api_appointments/infrastructure/pubsub/event_publisher.py
  apps/api-appointments/adyela_api_appointments/infrastructure/repositories/__init__.py
  apps/api-appointments/adyela_api_appointments/infrastructure/repositories/firestore_appointment_repository.py
  apps/api-appointments/adyela_api_appointments/main.py
  apps/api-appointments/adyela_api_appointments/presentation/__init__.py
  apps/api-appointments/adyela_api_appointments/presentation/api/__init__.py
  apps/api-appointments/adyela_api_appointments/presentation/api/v1/__init__.py
  apps/api-appointments/adyela_api_appointments/presentation/api/v1/endpoints/__init__.py
  apps/api-appointments/adyela_api_appointments/presentation/api/v1/endpoints/appointments.py
  apps/api-appointments/adyela_api_appointments/presentation/api/v1/schemas.py
  apps/api-appointments/adyela_api_appointments/presentation/dependencies.py
  apps/api-appointments/pyproject.toml
Owners: @adyela/core-team

test(api): add comprehensive unit tests for api-appointments microservice
  apps/api-appointments/tests/__init__.py
  apps/api-appointments/tests/conftest.py
  apps/api-appointments/tests/integration/__init__.py
  apps/api-appointments/tests/unit/__init__.py
  apps/api-appointments/tests/unit/test_appointment_entity.py
  apps/api-appointments/tests/unit/test_appointment_use_cases.py
  apps/api-appointments/tests/unit/test_create_appointment_use_case.py
  apps/api-appointments/tests/unit/test_date_time_range.py
  apps/api-appointments/tests/unit/test_event_publisher.py
Owners: @adyela/core-team

feat(api): implement api-admin microservice with hexagonal architecture
  apps/api-admin/.env.example
  apps/api-admin/README.md
  apps/api-admin/adyela_api_admin/__init__.py
  apps/api-admin/adyela_api_admin/application/__init__.py
  apps/api-admin/adyela_api_admin/application/ports/__init__.py
  apps/api-admin/adyela_api_admin/application/ports/repositories.py
  apps/api-admin/adyela_api_admin/application/use_cases/__init__.py
  apps/api-admin/adyela_api_admin/application/use_cases/professionals/__init__.py
  apps/api-admin/adyela_api_admin/application/use_cases/professionals/approve_professional.py
  apps/api-admin/adyela_api_admin/application/use_cases/professionals/list_pending.py
  apps/api-admin/adyela_api_admin/application/use_cases/professionals/reject_professional.py
  apps/api-admin/adyela_api_admin/config/__init__.py
  apps/api-admin/adyela_api_admin/config/constants.py
  apps/api-admin/adyela_api_admin/config/settings.py
  apps/api-admin/adyela_api_admin/domain/__init__.py
  apps/api-admin/adyela_api_admin/domain/entities/__init__.py
  apps/api-admin/adyela_api_admin/domain/entities/audit_log.py
  apps/api-admin/adyela_api_admin/domain/entities/professional.py
  apps/api-admin/adyela_api_admin/domain/exceptions.py
  apps/api-admin/adyela_api_admin/main.py
  apps/api-admin/adyela_api_admin/presentation/__init__.py
  apps/api-admin/adyela_api_admin/presentation/api/__init__.py
  apps/api-admin/adyela_api_admin/presentation/api/v1/__init__.py
  apps/api-admin/adyela_api_admin/presentation/api/v1/schemas.py
  apps/api-admin/pyproject.toml
Owners: @adyela/core-team

feat(api): complete api-admin microservice implementation
  apps/api-admin/README.md
  apps/api-admin/adyela_api_admin/infrastructure/__init__.py
  apps/api-admin/adyela_api_admin/infrastructure/repositories/__init__.py
  apps/api-admin/adyela_api_admin/infrastructure/repositories/firestore_audit_log_repository.py
  apps/api-admin/adyela_api_admin/infrastructure/repositories/firestore_professional_repository.py
  apps/api-admin/adyela_api_admin/main.py
  apps/api-admin/adyela_api_admin/presentation/api/v1/__init__.py
  apps/api-admin/adyela_api_admin/presentation/api/v1/endpoints/__init__.py
  apps/api-admin/adyela_api_admin/presentation/api/v1/endpoints/professionals.py
  apps/api-admin/adyela_api_admin/presentation/dependencies.py
  apps/api-admin/tests/__init__.py
  apps/api-admin/tests/conftest.py
  apps/api-admin/tests/unit/__init__.py
  apps/api-admin/tests/unit/test_approve_use_case.py
  apps/api-admin/tests/unit/test_professional_entity.py
Owners: @adyela/core-team

feat(api): implement Stripe payment processing microservice
  apps/api-payments/.env.example
  apps/api-payments/.eslintrc.js
  apps/api-payments/.prettierrc.js
  apps/api-payments/README.md
  apps/api-payments/jest.config.js
  apps/api-payments/package.json
  apps/api-payments/src/application/ports/IPaymentRepository.ts
  apps/api-payments/src/application/ports/IStripeService.ts
  apps/api-payments/src/application/use-cases/CreatePaymentIntent.ts
  apps/api-payments/src/config/index.ts
  apps/api-payments/src/domain/entities/Payment.ts
  apps/api-payments/src/domain/exceptions/index.ts
  apps/api-payments/src/index.ts
  apps/api-payments/src/infrastructure/repositories/FirestorePaymentRepository.ts
  apps/api-payments/src/infrastructure/stripe/StripeService.ts
  apps/api-payments/src/presentation/middleware/auth.ts
  apps/api-payments/src/presentation/middleware/errorHandler.ts
  apps/api-payments/src/presentation/routes/payments.ts
  apps/api-payments/tests/unit/CreatePaymentIntent.test.ts
  apps/api-payments/tests/unit/FirestorePaymentRepository.test.ts
  apps/api-payments/tests/unit/StripeService.test.ts
  apps/api-payments/tsconfig.json
Owners: @adyela/core-team

feat(api): implement multi-channel notifications microservice
  apps/api-notifications/.env.example
  apps/api-notifications/.eslintrc.js
  apps/api-notifications/.prettierrc.js
  apps/api-notifications/README.md
  apps/api-notifications/jest.config.js
  apps/api-notifications/package.json
  apps/api-notifications/src/application/ports/IEmailService.ts
  apps/api-notifications/src/application/ports/INotificationRepository.ts
  apps/api-notifications/src/application/ports/IPushService.ts
  apps/api-notifications/src/application/ports/ISMSService.ts
  apps/api-notifications/src/application/use-cases/SendNotification.ts
  apps/api-notifications/src/config/index.ts
  apps/api-notifications/src/domain/entities/Notification.ts
  apps/api-notifications/src/domain/exceptions/index.ts
  apps/api-notifications/src/index.ts
  apps/api-notifications/src/infrastructure/email/SendGridService.ts
  apps/api-notifications/src/infrastructure/push/FirebaseService.ts
  apps/api-notifications/src/infrastructure/repositories/FirestoreNotificationRepository.ts
  apps/api-notifications/src/infrastructure/sms/TwilioService.ts
  apps/api-notifications/src/presentation/middleware/auth.ts
  apps/api-notifications/src/presentation/middleware/errorHandler.ts
  apps/api-notifications/src/presentation/routes/notifications.ts
  apps/api-notifications/tests/unit/SendGridService.test.ts
  apps/api-notifications/tests/unit/SendNotificationUseCase.test.ts
  apps/api-notifications/tests/unit/TwilioService.test.ts
  apps/api-notifications/tsconfig.json
Owners: @adyela/core-team

feat(api): implement BigQuery analytics and reporting microservice
  apps/api-analytics/README.md
  apps/api-analytics/adyela_api_analytics/__init__.py
  apps/api-analytics/adyela_api_analytics/application/__init__.py
  apps/api-analytics/adyela_api_analytics/application/ports/__init__.py
  apps/api-analytics/adyela_api_analytics/application/use_cases/__init__.py
  apps/api-analytics/adyela_api_analytics/application/use_cases/get_dashboard_metrics.py
  apps/api-analytics/adyela_api_analytics/application/use_cases/track_event.py
  apps/api-analytics/adyela_api_analytics/config/__init__.py
  apps/api-analytics/adyela_api_analytics/domain/entities/__init__.py
  apps/api-analytics/adyela_api_analytics/domain/exceptions/__init__.py
  apps/api-analytics/adyela_api_analytics/infrastructure/__init__.py
  apps/api-analytics/adyela_api_analytics/infrastructure/bigquery/__init__.py
  apps/api-analytics/adyela_api_analytics/infrastructure/bigquery/client.py
  apps/api-analytics/adyela_api_analytics/infrastructure/repositories/__init__.py
  apps/api-analytics/adyela_api_analytics/infrastructure/repositories/firestore_event_repository.py
  apps/api-analytics/adyela_api_analytics/main.py
  apps/api-analytics/adyela_api_analytics/presentation/__init__.py
  apps/api-analytics/adyela_api_analytics/presentation/api/__init__.py
  apps/api-analytics/adyela_api_analytics/presentation/api/v1/__init__.py
  apps/api-analytics/adyela_api_analytics/presentation/api/v1/endpoints/__init__.py
  apps/api-analytics/adyela_api_analytics/presentation/api/v1/endpoints/analytics.py
  apps/api-analytics/pyproject.toml
  apps/api-analytics/tests/unit/test_get_dashboard_metrics_use_case.py
  apps/api-analytics/tests/unit/test_track_event_use_case.py
Owners: @adyela/core-team

feat(ui): implement mobile-patient Flutter app with authentication
  apps/mobile-patient/README.md
  apps/mobile-patient/lib/core/config/app_config.dart
  apps/mobile-patient/lib/core/di/injection.dart
  apps/mobile-patient/lib/core/error/exceptions.dart
  apps/mobile-patient/lib/core/error/failures.dart
  apps/mobile-patient/lib/core/routing/app_router.dart
  apps/mobile-patient/lib/core/theme/app_theme.dart
  apps/mobile-patient/lib/features/auth/data/datasources/auth_local_datasource.dart
  apps/mobile-patient/lib/features/auth/data/datasources/auth_remote_datasource.dart
  apps/mobile-patient/lib/features/auth/data/models/user_model.dart
  apps/mobile-patient/lib/features/auth/data/repositories/auth_repository_impl.dart
  apps/mobile-patient/lib/features/auth/domain/entities/user.dart
  apps/mobile-patient/lib/features/auth/domain/repositories/auth_repository.dart
  apps/mobile-patient/lib/features/auth/domain/usecases/get_current_user_usecase.dart
  apps/mobile-patient/lib/features/auth/domain/usecases/login_with_email_usecase.dart
  apps/mobile-patient/lib/features/auth/domain/usecases/login_with_google_usecase.dart
  apps/mobile-patient/lib/features/auth/domain/usecases/logout_usecase.dart
  apps/mobile-patient/lib/features/auth/domain/usecases/signup_with_email_usecase.dart
  apps/mobile-patient/lib/features/auth/presentation/bloc/auth_bloc.dart
  apps/mobile-patient/lib/features/auth/presentation/bloc/auth_event.dart
  apps/mobile-patient/lib/features/auth/presentation/bloc/auth_state.dart
  apps/mobile-patient/lib/main.dart
Owners: @adyela/core-team

feat(core): create Flutter shared packages for code reuse across apps
  apps/mobile-patient/pubspec.yaml
  packages/flutter-core/README.md
  packages/flutter-core/lib/flutter_core.dart
  packages/flutter-core/lib/src/enums/appointment_status.dart
  packages/flutter-core/lib/src/enums/specialty.dart
  packages/flutter-core/lib/src/models/appointment.dart
  packages/flutter-core/lib/src/models/professional.dart
  packages/flutter-core/pubspec.yaml
  packages/flutter-shared/README.md
  packages/flutter-shared/lib/flutter_shared.dart
  packages/flutter-shared/lib/src/widgets/appointment_card.dart
  packages/flutter-shared/lib/src/widgets/empty_state.dart
  packages/flutter-shared/lib/src/widgets/professional_card.dart
  packages/flutter-shared/pubspec.yaml
Owners: @adyela/core-team

feat(ui): implement professional search and appointment booking features
  apps/mobile-patient/lib/features/appointments/data/datasources/appointment_remote_datasource.dart
  apps/mobile-patient/lib/features/appointments/data/repositories/appointment_repository_impl.dart
  apps/mobile-patient/lib/features/appointments/domain/repositories/appointment_repository.dart
  apps/mobile-patient/lib/features/appointments/domain/usecases/cancel_appointment_usecase.dart
  apps/mobile-patient/lib/features/appointments/domain/usecases/create_appointment_usecase.dart
  apps/mobile-patient/lib/features/appointments/domain/usecases/get_user_appointments_usecase.dart
  apps/mobile-patient/lib/features/appointments/presentation/bloc/appointments_bloc.dart
  apps/mobile-patient/lib/features/appointments/presentation/bloc/appointments_event.dart
  apps/mobile-patient/lib/features/appointments/presentation/bloc/appointments_state.dart
  apps/mobile-patient/lib/features/appointments/presentation/pages/appointments_page.dart
  apps/mobile-patient/lib/features/search/data/datasources/professional_remote_datasource.dart
  apps/mobile-patient/lib/features/search/data/repositories/professional_repository_impl.dart
  apps/mobile-patient/lib/features/search/domain/repositories/professional_repository.dart
  apps/mobile-patient/lib/features/search/domain/usecases/search_professionals_usecase.dart
  apps/mobile-patient/lib/features/search/presentation/bloc/search_bloc.dart
  apps/mobile-patient/lib/features/search/presentation/bloc/search_event.dart
  apps/mobile-patient/lib/features/search/presentation/bloc/search_state.dart
  apps/mobile-patient/lib/features/search/presentation/pages/search_page.dart
  apps/mobile-patient/lib/features/search/presentation/widgets/search_filters.dart
  apps/mobile-patient/lib/features/search/presentation/widgets/specialty_chips.dart
Owners: @adyela/core-team

feat(web): enable Flutter web support for mobile-patient app
  apps/mobile-patient/WEB_DEPLOYMENT.md
  apps/mobile-patient/web/index.html
  apps/mobile-patient/web/manifest.json
Owners: @adyela/core-team
